

<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

<div class="paginator-area">
  <zlux-button buttonType="button"
    class="first-button"
    [disabled]="pageIndex <= 0"
    (onClick)="onFirstButtonClick()"
    >
      <svg width="16px" height="16px" viewBox="0 0 16 16">
        <use xlink:href="#FirstPage"></use>
      </svg>
  </zlux-button>
  <zlux-button buttonType="button"
    class="prev-button"
    [disabled]="pageIndex <= 0"
    (onClick)="onPrevButtonClick()"
    >
      <svg width="16px" height="16px" viewBox="0 0 16 16">
        <use xlink:href="#PrevPage"></use>
      </svg>
  </zlux-button>

  <div class="page-area">
    <input type="text"
      class="current-page-field"
      [ngClass]="{ 'input-error': isInputIncorrect }"
      zluxInputText
      [value]="pageIndex + 1"
      (change)="onChange($event)">
      <ng-container i18n="of preposition in clause n-m of total@@paginator">of</ng-container>
    <a *ngIf="hasMoreRecords; else haveNotMorePage"
      href="#" (click)="toLastPage()" zluxFlyover [flyover]="fetchMoreFlyover"> {{loadedPageNumber}}*</a>
    <ng-template #haveNotMorePage>
      <a href="#" (click)="toLastPage()"> {{loadedPageNumber}}</a>
    </ng-template>
  </div>
  <zlux-button buttonType="button"
    [disabled]="(pageIndex >= loadedPageNumber - 1) && !hasMoreRecords"
    (onClick)="onNextButtonClick()"
    >
      <svg width="16px" height="16px" viewBox="0 0 16 16">
        <use xlink:href="#NextPage"></use>
      </svg>
  </zlux-button>
  <div class="right-page-area">
    {{indexMin}}-{{indexMax}} <ng-container i18n="of preposition in clause n-m of total@@paginator">of</ng-container>
    <a *ngIf="hasMoreRecords; else haveNotMoreRecord"
      href="#" (click)="toLastPage()" zluxFlyover [flyover]="fetchMoreFlyover"> {{totalRecords}}*</a>
    <ng-template #haveNotMoreRecord>
      <a href="#" (click)="toLastPage()"> {{totalRecords}}</a>
    </ng-template>
  </div>
</div>
<zlux-flyover #fetchMoreFlyover>
  Not all items are loaded!
  <br/>
  <a href="#" (click)="fetchMoreData()">Load More data</a>
</zlux-flyover>


<!-- 
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
-->

