

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

.report {
  padding: 0;
  border-left: none;
  display: flex;
  flex-direction: row;
}

.report.error {
  background-color: rgba(247, 230, 230, 1);
}

.report.warning {
  background-color: rgba(242, 242, 242, 1);
}

.report.warning.dark {
  background-color: #24272d;
  color: #dddee0;
}

.report.info {
  background-color: rgba(242, 242, 242, 1);
}

.leftPanel {
  margin: 0;
  padding: 0;
}

.mainPanel {
  padding: 10px 20px;
  flex-grow: 1;
}

.error .mainPanel {
  border: rgba(255, 92, 73, 1) 1px solid;
}

.warning .mainPanel {
  border: rgba(254, 133, 0, 1) 1px solid;
}

.info .mainPanel {
  border: rgba(0, 182, 203, 1) 1px solid;
}

.content {
  margin-top: 16px;
  padding: 5px;
  padding-bottom: 0;
  user-select: text;
  -ms-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
}

.severityIcon {
  width: 32px;
  height: 32px;
  margin: 16px;
  background-repeat: no-repeat;
}

.severityIcon.dark {
  filter: invert(50%) sepia(50%) saturate(4000%) hue-rotate(0deg); /* ~Zowe support 02 (#e99023) */
}

.error .leftPanel {
  background-color: rgba(255, 92, 73, 1);
}

.error .severityIcon {
  background-image: url(../../assets/images/error-critical.png);
}

.warning .leftPanel {
  background-color: rgba(254, 133, 0, 1);
}

.warning .leftPanel.dark {
  background-color: #dddee0; /* Zowe cool grey 20 */
}

.info .leftPanel {
  background-color: rgba(0, 182, 203, 1);
}

.warning .severityIcon {
  background-image: url(../../assets/images/error-warning.png);
}

.info .severityIcon {
  background-image: url(../../assets/images/info.png);
}

.title {
  border-bottom: 1px solid;
  font-kerning: normal;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.titleText {
  font-size: 150%;
  font-size:21px;
}

.error .title {
  border-bottom-color: #AA231F;
  color: #AA231F;
}

.warning .title {
  border-bottom-color: #e99023;
  color: #e99023;
}

.info .title {
  border-bottom-color: #188291;
  color: #188291;
}

.buttonArea {
  margin: 36px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.zlux-button.dark {
  background-color: #3975d0;
  color: #f3f4f4;
}

.timestamp {
  font-size: 12px;
  padding-left: 12px;
}


/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

