

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

.text-input {
  flex: 1 1 auto;
  background: transparent;
  border: 1px solid;
  border-radius: 2px;
  height: 32px;
  padding: 0.75rem 1rem;
  margin: 0 0 0 1em;
  font-family: Helvetica, Open Sans, Arial, Lucida Grande, sans-serif;
}

.text-input-dark {
  border: 1px solid #ececec;
  color: #ececec;
}

.text-input:hover:not(:disabled),
.text-input:active:not(:disabled) {
  border: 1px solid rgb(21, 124, 189);
}

.text-input-dark:hover:not(:disabled),
.text-input-dark:active:not(:disabled) {
  border: 1px solid #56acf2;
}

.text-input:disabled {
  opacity: 0.6;
  background-color: rgba(119, 118, 119, 0.117647058823529);
}

.text-input-dark:disabled {
  opacity: 0.6;
  background-color: #464646;
}


/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

