

/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

:host {
  margin: 0 0.5rem;
  display: inline-block;
}

.zlux-button {
  background-color: transparent;
  border: 1px solid #047cc0;
  border-radius: 2px;
  font-size: 14px;
  font-family: Helvetica, Open Sans, Arial, Lucida Grande, sans-serif;
  color: #047cc0;
  width: 100%;
  height: 2rem;
  padding: 0 1rem;
}

.zlux-action-button {
  background-color: #047cc0;
  color: #f6f6f6;
}

.zlux-button:hover:not([disabled]) {
  background-color: #175d8d;
  color: #f6f6f6;
}

.zlux-button:active:not([disabled]) {
  background-color: #1c496d;
  color: #f6f6f6;
}

.zlux-button:disabled {
  opacity: 0.6;
}

.zlux-button.light {
  border-color: #98c4eb;
  color: #98c4eb;
}

.zlux-button.light:hover:not([disabled]) {
  background-color: #5fa8e0;
  color: #464646;
}

.zlux-button.light:active:not([disabled]) {
  background-color: #2e96d5;
  color: #464646;
}

.zlux-action-button.light {
  background-color: #98c4eb;
  color: #464646;
}


/*
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html
  
  SPDX-License-Identifier: EPL-2.0
  
  Copyright Contributors to the Zowe Project.
*/

